/
  Footer
  \==================================================
#footer.dark
  / Main
  .container
    .row
      .col-md-5.col-sm-6
        %img.footer-logo{:alt => "", :src => image_path("template/images/logo-#{I18n.locale}-dark.png")}/
        %br/
        %br/
        %p= t(:slogan)
      .col-md-4.col-sm-6
        %h4= t(:helpful_links)
        %ul.footer-links
          %li
            %a{:href => root_path}= t(:home)
          %li
            %a{:href => "#our-services"}= t(:our_services)
          %li
            %a{:href => "#our-story"}= t(:our_story)

        %ul.footer-links
          %li
            %a{:href => "#how-it-works"}= t(:how_it_works)
          %li
            %a{:href => "#contact"}= t(:contact_us)
        .clearfix
      .col-md-3.col-sm-12
        %h4= t(:contact_us)
        .text-widget
          %span
            North Greenwich 
            London, SE10 0ER
          %br/
          #{t(:phone)}:
          %span= t(:phone_number)
          %br/
          #{t(:email)}:
          %span
            %a{:href => "#"}= t(:contact_email)
          %br/
        %ul.social-icons.margin-top-20

    / Copyright
    .row
      .col-md-12
        .copyrights © 2018 WonderingTech. All Rights Reserved.
/ Footer / End
