!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    %meta{:content => t(:meta_keywords), :name => "keywords"}
    %meta{:content => t(:meta_description), :name => "description"}
    %title= t(:meta_title)
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = favicon_link_tag 'template/images/favicon.ico'

  %body
    %div{:style => "display:none;"}
      %img{:alt => "", :src => image_path("template/images/wechat-img.jpg")}/
    #wrapper
      = render "shared/nav"
      = yield
      = render "shared/footer"
      #backtotop
        %a{:href => "#"}
